<style type="text/css">
.channel-group {
  position: relative;
}

.channel-group__header {
  position: relative;
  padding: 10px 14px;
  border-bottom: 1px solid  #f0f0f0;
  border-left: 6px solid  #ffab18;
}

.channel-group__title {
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.book-table {
  padding: 13px 14px 5px;
  font-size: 0;
}

.book-table>li {
  display: inline-block;
  width: 33.3%;
  margin-bottom: 8px;
  line-height: 1;
  vertical-align: top;
}

.u-book {
  position: relative;
  width: 86px;
  overflow: hidden;
}

.book-cover {
  position: relative;
  width: 86px;
  height: 113px;
  border: 1px solid #f0f0f0;
  border-bottom: none;
  overflow: hidden;
  background-color: #eeece9;
  box-shadow: 0px 6px 5px -3px #aaa;
}

.book-cover img {
  width: 100%;
  height: 100%;
}

.info {
  padding-top: 8px;
}

.title {
  max-height: 2.8em;
  margin-bottom: 0;
  overflow: hidden;
  font: 13px/1.4em normal a;
  color: #8d8d8d;
}

.u-tagRT {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font: 1.4rem/1.4 a;
  color: #fff;
  background-color: #ef6c2c;
  -webkit-transform-origin: top center;
  -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(.8);
}

.u-tagRT.-freefiction {
  background-color: #49ab3f;
}

.u-tagRT.-freefiction:before {
  content: '\9650\514d';
}

.channel-group__footer {
  display: block;
  padding: 19px 0;
  border-top: 1px solid #f0f0f0;
  font-size: 14px;
  text-align: center;
}
</style>

<section class="channel-group main-card">
  <div class="channel-group__header">
    <h2 class="channel-group__title channel-group__title_left">限时免费</h2>
  </div>
  <ul class="book-table">
    <li>
      <a href="/book?id=">
        <div class="u-book -vertical">
          <div class="book-cover">
            <img alt="" src="http://cover.read.duokan.com/mfsv2/download/s010/p01685Z6AqDQ/qbgbHnvaYxJXMA.jpg">
            <div class="u-tagRT -freefiction"></div>
          </div>
          <div class="info">
            <h3 class="title">书籍名称</h3>
          </div>
        </div>
      </a>
    </li>    <li>
      <a href="/book?id=">
        <div class="u-book -vertical">
          <div class="book-cover">
            <img alt="" src="http://cover.read.duokan.com/mfsv2/download/s010/p01685Z6AqDQ/qbgbHnvaYxJXMA.jpg">
            <div class="u-tagRT -freefiction"></div>
          </div>
          <div class="info">
            <h3 class="title">书籍名称</h3>
          </div>
        </div>
      </a>
    </li>    <li>
      <a href="/book?id=">
        <div class="u-book -vertical">
          <div class="book-cover">
            <img alt="" src="http://cover.read.duokan.com/mfsv2/download/s010/p01685Z6AqDQ/qbgbHnvaYxJXMA.jpg">
            <div class="u-tagRT -freefiction"></div>
          </div>
          <div class="info">
            <h3 class="title">书籍名称</h3>
          </div>
        </div>
      </a>
    </li>
  </ul>
  <a class="channel-group__footer" data-href="#page=channel&amp;id=371">更多限免佳作&gt;&gt;</a>
</section>
