<style type="text/css">
</style>

<section class="channel-h5">
  <div class="channel-h5__header">
    <p class="channel-h5__title">男生最爱</p>
  </div>
  <div class="">
    <div class="">
      <ul class="list-h5">
        <li>
          <a href="/book?id=1">
            <div class="book-h5">
              <div class="book-h5__cover">
                <img src="http://cover.read.duokan.com/mfsv2/download/s010/p01HRnQuOjiG/KhLgJZJ4erR4e7.jpg">
                <p class="book-h5__finish">完结</p>
              </div>
              <div class="book-h5__info">
                <p class="book-h5__title">书名</p>
                <p class="book-h5__author">作者</p>
                <p class="book-h5__summary">简介</p>
                <div class="book-h5__wrap">
                  <div class="book-h5__tag">标签</div>
                </div>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/book?id=1">
            <div class="book-h5">
              <div class="book-h5__cover">
                <img src="http://cover.read.duokan.com/mfsv2/download/s010/p01HRnQuOjiG/KhLgJZJ4erR4e7.jpg">
                <p class="book-h5__finish">完结</p>
              </div>
              <div class="book-h5__info">
                <p class="book-h5__title">书名</p>
                <p class="book-h5__author">作者</p>
                <p class="book-h5__summary">简介</p>
                <div class="book-h5__wrap">
                  <div class="book-h5__tag">标签</div>
                </div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="channel-h5__footer_next">
      <a class="btn-h5__next" href="javascript:">换一换</a>
      <a class="btn-h5__more" href="/male">男生频道&gt;&gt;</a>
    </div>
  </div>
</section>
