<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta name="format-detection" content="telephone=no">
  <title>阅读器</title>
  <link rel="stylesheet" href="/static/css/reset.css" />
  <style type="text/css">
  </style>
</head>
<body>
  <div id="root">
  </div>
  <script src="/static/js/lib/zepto.min.js"></script>
  <script>window.jQuery = $;</script>
  <script src="/static/js/lib/jquery.base64.js"></script>
  <script src="/static/js/lib/jquery.jsonp.js"></script>
  <script></script>
</body>
</html>
